{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

{% if user.is_authenticated %}

{% else %}


<div style="margin-top: 50px; margin-bottom: 50px;">
    <div class="Lwrapper">
        <form class="Lform-signin" method="POST">
            {% csrf_token %}
            <center>
                <h2 class="Lform-signin-heading"> {% trans 'Please login' %} </h2>
                <br> {% trans 'Username' %} <br> {{ form.username }}
                <br> {% trans 'Password' %} <br> {{ form.password }}
                <br>
                <br>
                <button class="btn btn-lg btn-secondary" type="submit"> {% trans 'Login' %} </button>
                <p><a href="{% url 'password_reset' %}"> {% trans 'Lost password?' %} </a></p>
            </center>
        </form>
    </div>
</div>
{% endif %}


{% endblock content %}