{% extends 'base.html' %}

{% block content %}


    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="index">

      <div class="w-100">     
        <h2 class="mb-0">Home</h2>
        <p> Burası Anasayfa Sistemin ne olduğu ve bir video animasyon olacak  </p>
<br>

        <div id="ytplayer"></div>
        <script>
          // Load the IFrame Player API code asynchronously.
          var tag = document.createElement('script');
          tag.src = "https://www.youtube.com/player_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          // Replace the 'ytplayer' element with an <iframe> and
          // YouTube player after the API code downloads.
          var player;
          function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
              height: '360',
              width: '640',
              videoId: 'BW3lF1oR4Zw'
            });
          }
        </script>
   
        </div>
    </section>

    <hr class="m-0">

{% endblock content %}
