

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div style="margin: 300px 150px;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                {% if books %}
                <p style="color: #902b2b">{{ book }}</p>
                {% elif watch %}
                <p style="color: #902b2b">{{ watch }}</p>
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                {% if books %}

                 <form method="POST" name="comments">
                    {% csrf_token %}
                    <label for="exampleFormControlTextarea1">{{ books.comments }}</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" required id="id_comments" name="comments"  rows="2"></textarea>
                    <br><br>
                    <button style="float: right;" type="submit" class="btn btn-success"> Update </button>
                </form>
                {% elif watch %}

                <form action="{% url 'editComment' watch.id %}" method="POST" name="comments"> {% csrf_token %}
                    <label for="exampleFormControlTextarea1">Comments</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" required id="id_comments" name="comments"  rows="2"></textarea>
                    <br><br>
                    <button style="float: right;" type="submit" class="btn btn-success"> Update </button>
                </form>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<hr class="m-0">
{% endblock content %}


